.display {
    background-color: lightslategray;
    height: 300px;
    width: 600px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    padding: 10px;
    border: 2px solid;

}

.slideshow { 
    background-color: beige;
    grid-row: 1/3;
    grid-column: 1/5;
    border-style: solid;
    border-radius: 5px;
}

.info {
    background-color: lightpink;
    grid-row: 3 /4;
    grid-column: 1/5;
    border-radius: 5px;
}

.feature { 
    background-color: rgba(255, 255, 255, 0.847);
    grid-row: 1/4;
    grid-column:5 / 7;    
    border-radius: 5px;
    
    

}

.ad1 {
    background-color: lightyellow;
    margin: 20px 10px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    text-decoration: underline;
    
    

}

.ad2 {
    background-color: rgb(153, 231, 175);
    margin: 30px 10px;
    position: relative;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    
    
    

}

.ad3 {
    background-color:bisque;
    margin: 30px 10px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    

}

video {
    align-content: center;
    justify-content: center;
    width:fit-content auto;
    height:fit-content auto;
}

a {
    height: 100px;
}
